*.exe
*.o
*.out

# Ignorar basura de Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.*

# Ignorar compilados (por si acaso)
Debug/
Release/
x64/
x86/
.vscode/
include/

# Ignorar archivos extras
como_subir_a_git.txt